---
import Header from "./partials/Header.astro";
import Footer from "./partials/Footer.astro";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class="min-h-screen flex flex-col">
  <Header />

  <main class={`flex-1 ${className || ""}`}>
    <slot />
  </main>

  <Footer />
</div>
